# Miscellaneous
*.log
.DS_Store
*.lock  # Exclude all .lock files except pubspec.lock (handled below)

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional: include if you want to share launch configs)
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/

# Platform-specific build artifacts
**/ios/Flutter/.last_build_id
**/android/app/debug
**/android/app/profile
**/android/app/release

# Symbolication and obfuscation related
app.*.symbols
app.*.map.json

# Allow pubspec.lock for apps (do not add pubspec.lock here)
